body {
	min-height: 3000px;
}

.header {
	position: relative;
	.headerWrap {
		position: relative;
		z-index: 101;
		border-bottom: 1px solid #d4d4d4;
		&.on {
			.subPanel,
			.headerBg {
				display: block !important;
			}
		}
		.headerInner {
			position: relative;
			z-index: 11;
			max-width: 1280px;
			margin: 0 auto;
			height: 80px;
			.logo {
				@include pCenterY;
				left: 0;
				a {
					display: inline-block;
				}
			}
			.gnb {
				@include pCenterY;
				@include flex(null, center);
				position: relative;
				> li {
					position: relative;
					padding: 0 35px;
					> a {
						display: inline-block;
						color: #333;
						font-size: 20px;
						transition: all 0.4s;
						font-weight: 500;
						&:hover {
							font-weight: bold;
							color: $cMain;
						}
						&.on {
							font-weight: bold;
							color: $cMain;
						}
					}
					.subPanel {
						display: none;
						position: absolute;
						left: 0;
						width: 100%;
						top: 50px;
						padding-top: 24px;
						padding-bottom: 24px;
						&:hover {
						}
						li {
							a {
								display: block;
								text-align: center;
								font-size: 16px;
								color: #333333;
								margin-bottom: 16px;
								&:hover {
									color: $cMain;
									font-weight: bold;
								}
							}
						}
					}
				}
			}
			.utilMenu {
				@include pCenterY;
				right: 0;
				@include flex(center, null, 20px);
				li {
					.searchBtn {
						@include bg-url("img", "searchBtn.png", "cover");
						background-color: #fff;
						border: none;
						width: 25px;
						height: 25px;
					}
					.myPage {
						@include bg-url("img", "mypageBtn.png", "cover");
						background-color: #fff;
						border: none;
						width: 25px;
						height: 25px;
					}
				}
			}
		}
	}
	.headerBg {
		@extend %boxShadowType-1;
		position: absolute;
		display: none;
		background: #fff;
		z-index: 100;
		left: 0;
		right: 0;
		top: 81px;
		&.on {
			display: block;
		}
		.inner {
			position: relative;
			height: 100%;
			.changImg {
				@include pCenterY;
				left: 30px;
				@include bg-url("img", "logo.png", "cover");
				width: 100px;
				height: 100px;
			}
		}
	}
	.mobileMenu {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		cursor: pointer;
		z-index: 102;
		.menuToggle {
			@include pCenterY;
			top: 43px;
			right: 15px;
			display: inline-block;
			cursor: pointer;
			z-index: 11;
			display: inline-block;
			transition: all 0.3s ease-in-out;
			.menuItem {
				background-color: #000;
				display: block;
				height: 3px;
				margin: 0 0 10px;
				transition: all 0.3s ease-in-out;
				width: 30px;
			}
			&.open .menuItem {
				margin: 0px 0px 5px;
				background-color: red;

				&:first-child {
					transform: rotate(45deg);
					transform-origin: 4px;
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
					transform-origin: 3px;
				}
			}
		}
		.mobileNav {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0px;
			background-color: #3c3842;
			width: 100vw;
			height: 100vh;
			transform: translate(100%, 0);
			transition: all 0.2s ease-in-out;

			& ul {
				list-style-type: none;
			}

			& li a {
				color: #989aa4;
				display: block;
				padding: 15px 20px;

				&:hover {
					background-color: #23252b;
					color: #fff;
				}
			}
		}
	}
}

@include media($web) {
	.gnb {
		display: none !important;
	}
	.mobileMenu {
		display: block !important;
	}
	.header .headerWrap .headerInner .logo {
		left: 20px;
	}
	.header .headerWrap .headerInner .utilMenu {
		display: none;
	}
}
