.privacyPolicy {
	.tableType-1 {
		td,
		th {
			border: 1px solid #ddd;
			box-sizing: border-box;
			word-break: break-all;
			line-height: 1.5;
			font-weight: bold;
		}
		th {
			background-color: #f7f7f7;
			text-align: center;
			padding: 0.625rem 0.125rem;
		}
	}
}

.labeling__icon {
	width: 4rem;
	height: 4rem;
}

// 미디어 쿼리
@include media($web) {
	html {
		font-size: 14px;
	}
}
@include media($tab) {
	html {
		font-size: 13px;
	}
}
@include media($mo) {
	html {
		font-size: 12px;
	}
}
