/* button */
button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-radius: 0;
	padding: 0px;
	border: 0px;
	font-weight: normal;
	background-color: transparent;
	cursor: pointer;
	box-sizing: border-box;
}
